body{
margin:0;
font-family:Arial,sans-serif;
background:#0f172a;
color:white;
}

.container{
display:flex;
height:100vh;
}

.sidebar{
width:30%;
background:#1e293b;
padding:15px;
overflow-y:auto;
}

.sidebar h2{
text-align:center;
}

#users{
margin-top:15px;
}

.user{
padding:12px;
margin:8px 0;
background:#334155;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.user:hover{
background:#2563eb;
}

.chat{
flex:1;
display:flex;
flex-direction:column;
background:#111827;
}

#chatHeader{
padding:15px;
background:#1e293b;
font-weight:bold;
}

#messages{
flex:1;
overflow-y:auto;
padding:15px;
}

.message{
background:#2563eb;
padding:10px;
border-radius:10px;
margin:8px 0;
width:fit-content;
max-width:70%;
}

.sendBox{
display:flex;
padding:10px;
background:#1e293b;
}

.sendBox input{
flex:1;
padding:10px;
border:none;
border-radius:8px;
}

.sendBox button{
margin-left:10px;
padding:10px 20px;
border:none;
border-radius:8px;
background:#2563eb;
color:white;
cursor:pointer;
}

#logout{
margin-top:20px;
width:100%;
padding:10px;
background:red;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}
